@page
@model RainIntesity.Pages.LogoutModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <h1>Logout</h1>
    <p>Logging out...</p>
</body>
</html>
